.project-heading {
  color: var(--color-orange-text);
  font-family: "MADE TOMMY Outline", sans-serif;
  font-size: clamp(3.25rem, 10vw, 10rem);
  font-weight: 500;
  margin-top: 7rem;
  max-width: 80%;
  margin-inline: auto;
}

@media screen and (max-width: 480px) {
  .project-heading {
    margin-top: 3rem;
    margin-bottom: 1rem;
  }
}
