.animated-container {
  position: relative;
  width: 100%;
  left: 0;
  top: 50;
  transform: translate(0%, 0%);
  overflow: hidden;
}

.span-container {
  margin: auto auto;
  white-space: nowrap;
  overflow: hidden;
  min-width: 100%;
  height: 100%;
}

.animated-container span {
  font-family: "MADE TOMMY Outline", sans-serif;
  color: var(--color-orange-text);
  font-size: 4rem;
  display: inline-block;
  white-space: nowrap;
  min-width: 100%;
  height: 100%;
  padding-left: 100%;
  animation: slidein 12s linear infinite;
}

@keyframes slidein {
  0% {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-100%, 0);
  }
}

@media screen and (max-width: 480px) {
  .animated-container span {
    font-size: 3rem;
  }
}
